* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #505050;
}

.btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  font-size: 0.9rem;
  color: white;
  background-color: #1a1a1a;
  display: block;
}

.button-container {
  display: flex;
  gap: 50px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}

.btn:hover {
  box-shadow: 0 0 10px 0 #1a1a1a;
  border: 1px solid black;
  background-color: white;
  color: #1a1a1a;
}

.figure {
  position: absolute;
  box-shadow: 0 0 10px 1px rgb(192, 191, 191);
  background-color: #e8e6e6;
}

.figure-container {
  position: relative;
  background-color: #1a1a1a;
  box-sizing: content-box;
  padding: 10px;
  height: 600px;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 0 1px 10px rgb(123, 123, 123);
}
